.ui.basic.segment.header {
    background : url(../img/card2.jpg);
    background-size : cover;
    background-position:  center center;
    min-height : 650px;
    padding-top : 200px;
}
.ui.basic.segment.header h1 {
    color: white;
    font-size: 72px;
    text-shadow: 0 3px 7px rgba(0, 0,0, .5);
}
.ui.basic.segment.header h2 {
    color: white;
    text-shadow: 0 3px 7px rgba(0, 0,0, .5);
}

.ui.basic.segment.body {

    background : url(../img/card3.jpg);
    background-size : cover;
    background-position:  center center;
    min-height : 10px;
    padding-top : 200px;

}